*{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
}
header.abajo{
    background: #fff;
    padding: 15px 20px;
}
header .logo{
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
} */

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}




/* --------- imagen principal responsive-------------------------------- */

#image1{
    position: relative;
    width: 66.66%;
    background-size: cover;
    background-position:center;
}

.h-100 {
  height: 100%!important;
}



/* hacer el fondo gris 1er land */


#top{
  background-color: rgb(215, 215, 215, .1);
}




.estilo-x {
  font-size: calc(1em + 1vw);
  line-height: 1em;
  padding: 1em;
  margin: 1em;}



header.abajo .logo,
header.abajo ul li a{
    color: #000;
}

#logo{

    padding-right: 20px;
    position: sticky;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
    padding-top: 4px;
    
    
    

}


/* #hamburger {
    border: none;
    background-color: none !important;
    text-decoration: none;
    color: grey !important;
} */

#karina{
    border: none;
    background-color: none !important;
    text-decoration: none;
    color: black;;
    
}

/* .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
  }  */

/* .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
    color: transparent;
    background-color: transparent;;
  }  */


  

    /* #logo{

        font-size: 20px;
    
    } */

    #hamburger{ 
        /* display: block; */
        /* margin-left: -30% !important;
        width: 200% !important; */
        /* position: relative; */
        background-color: rgba(255, 255, 255, .5);
        padding: 0;

    }





/* estilos div3 */

#image2{

  padding-right: 5rem;
}


.accordion-button:not(.collapsed){
  background-color: rgba(245,119,70,255);
  color: white;
  font-weight: bold;
}


.accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0 rgba(245,119,70,255);
  box-shadow: 0 0 0 0 rgba(245,119,70,255); 
}

#questiontittle{

  font-size: 3rem;
}

/* 
#button1{
  background-color: rgba(245,119,70,255);
  color: #fff;
  border: none;
} */

#button2 {
  background: rgba(245,119,70,255); /* color de fondo */
  color:#fff; /* color de fuente */
  /* border: 2px solid ;  */
  padding: 16px 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  border-color: #fff;
  border-radius: 30px;
}
#button2:hover {
  color:rgba(245,119,70,255); /* color de fuente hover */
}
#button2::after {
  content: "";
  background: #fff ; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
#button2:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}


/* ---------------------- estilos del main -------------- */
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  --bs-gutter-x: 3vw;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto; }





    .py-vh-6 {
        padding-top: 16vh;
        padding-bottom: 16vh;
    }

    

    .lead {
      font-size: calc(1.258rem + 0.096vw);
      font-weight: 300; }
      @media (min-width: 1200px) {
        .lead {
          font-size: 1.33rem; } }

    .display-1 {
      font-size: calc(1.625rem + 4.5vw);
      font-weight: 300;
      line-height: 1.2; }
      @media (min-width: 1200px) {
        .display-1 {
          font-size: 5rem; } }

    


          


@media (max-width: 994px) { 

  .header .navbar{
              background-color: transparent !important;
              display: inline;
              text-align: center;
              justify-content: center;
              align-items: center;
              
  }
        
}

@media (max-width: 991px)
{ #image1 {
  position: relative;
  width: 102%;
  height: 40vh;
  background-size: cover;
  background-position:center;
}

#h1n1{

  padding-top: 40px;
}

#divn1 {
  color: white;
}

.py-vh-6 {
  padding-top: 5vh;
  padding-bottom: 0vh;
}

#header{

  padding-left: 0px !important;
}

#logo{
  
  font-size: 24px;
  padding-left: 3px !important;
  width: 120% !important;
  margin-right: -30% !important;
  padding-left: 30px;
  margin-left: 00px;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, .5);
  
  

}

#imglogo {

  width: 26px;
  height: 26px;
  margin-left: 15px;  
}



#karina{
  align-items: center;
  justify-content: center;
  justify-items: center;
  

}
  
}

@media (max-width: 763px) { 
#image2{

  padding-right: 0rem;
}
}
@media (max-width: 633px) { 


  


  #hamburger{ 
      position: static;
      
      /* margin-left: -30% !important;
      width: 200% !important; */
      
      

  }




/* #div6{
  margin-top: 10vh;
} */
}



/* --------estilos footer-------- */


#footer_separator{

  background-color: rgba(245,119,70,255);
}

#button1 {
  background: rgba(245,119,70,255); /* color de fondo */
  border-color: rgba(245,119,70,255);
  color: #fff; /* color de fuente */
  padding: 16px 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  border-radius: 30px;

}

#button1:hover{

  border-color: #fff;
  border-collapse: initial;
  }


/* #button1:hover {
   color: #fff color de fuente hover  */
  

/* #button1::after {
  content: "";
  background: rgba(245,119,70,255); color de fondo hover
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

#button1:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 2px solid;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
} */



.site-footer {
  background:#fff;
  font-size: 14px;
  color: #888;
  padding: 70px 0; }
  .site-footer a {
    color: #f17945;
    position: relative;
    display: inline-block; }
  .site-footer .btn:before {
    display: none; }
  .site-footer .widget {
    margin-bottom: 40px;
    display: block;
    position: relative;
    z-index: 1; }
    .site-footer .widget h3, .site-footer .widget .h3 {
      font-size: 16px;
      color: #000;
      margin-bottom: 30px;
      font-weight: 700; }
    .site-footer .widget .links {
      width: 150px; }
      .site-footer .widget .links li {
        margin-bottom: 10px; }
        .site-footer .widget .links li a {
          color: #777; }
  .site-footer .social li {
    display: inline-block; }
    .site-footer .social li a {
      display: inline-block;
      width: 30px;
      height: 30px;
      position: relative;
      background: #777;
      border-radius: 50%;
      color: #fff; }
      .site-footer .social li a:before {
        display: none; }
      .site-footer .social li a > span {
        position: absolute;
        top: 43%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .site-footer .social li a:hover {
        background: rgb(245,119,70,255);
        color: #fff; }



#instagram{

  justify-content: center;
  align-items: center;
}
/* @media (max-width: 767px)
{ #image1 {
    position: relative;
    width: 102%;
    background-position:  50% -30%;
    
}


} */



  
@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px; } }

@media (min-width: 2000px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: 2000px; } }





/* 
pestaña contacto  */


.contact-info i {
  font-size: 20px;
  float: left;
  width: 44px;
  height: 44px;
  background: #f17945;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff; }

.contact-info h4, .contact-info .h4 {
  font-size: 18px;
  padding: 0 0 0 60px; }

.contact-info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px; }




  .form-label {
    margin-bottom: 0.5rem; }
  
  .col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5; }
  
  .col-form-label-lg {
    padding-top: calc(0.5rem + 1px);
    padding-bottom: calc(0.5rem + 1px);
    font-size: 1.25rem; }
  
  .col-form-label-sm {
    padding-top: calc(0.25rem + 1px);
    padding-bottom: calc(0.25rem + 1px);
    font-size: 0.875rem; }
  
  .form-text {
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #6c757d; }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
    @media (prefers-reduced-motion: reduce) {
      .form-control {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
    .form-control[type="file"] {
      overflow: hidden; }
      .form-control[type="file"]:not(:disabled):not([readonly]) {
        cursor: pointer; }
    .form-control:focus {
      color: #212529;
      background-color: #fff;
      border-color: #f8bca2;
      outline: 0;
      -webkit-box-shadow: 0 0 0 0.25rem rgba(241, 121, 69, 0.25);
      box-shadow: 0 0 0 0.25rem rgba(241, 121, 69, 0.25); }
    .form-control::-webkit-date-and-time-value {
      height: 1.5em; }
    .form-control::-webkit-input-placeholder {
      color: #6c757d;
      opacity: 1; }
    .form-control:-ms-input-placeholder {
      color: #6c757d;
      opacity: 1; }
    .form-control::-ms-input-placeholder {
      color: #6c757d;
      opacity: 1; }
    .form-control::placeholder {
      color: #6c757d;
      opacity: 1; }
    .form-control:disabled, .form-control[readonly] {
      background-color: #e9ecef;
      opacity: 1; }ter
    .form-control::file-selector-button {
      padding: 0.375rem 0.75rem;
      margin: -0.375rem -0.75rem;
      -webkit-margin-end: 0.75rem;
      margin-inline-end: 0.75rem;
      color: #212529;
      background-color: #e9ecef;
      pointer-events: none;
      border-color: inherit;
      border-style: solid;
      border-width: 0;
      border-inline-end-width: 1px;
      border-radius: 0;
      -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
      @media (prefers-reduced-motion: reduce) {
        .form-control::file-selector-button {
          -webkit-transition: none;
          -o-transition: none;
          transition: none; } }
    .form-control:hover:not(:disabled):not([readonly])::file-selector-button {
      background-color: #dde0e3; }
    .form-control::-webkit-file-upload-button {
      padding: 0.375rem 0.75rem;
      margin: -0.375rem -0.75rem;
      -webkit-margin-end: 0.75rem;
      margin-inline-end: 0.75rem;
      color: #212529;
      background-color: #e9ecef;
      pointer-events: none;
      border-color: inherit;
      border-style: solid;
      border-width: 0;
      border-inline-end-width: 1px;
      border-radius: 0;
      -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
      @media (prefers-reduced-motion: reduce) {
        .form-control::-webkit-file-upload-button {
          -webkit-transition: none;
          -o-transition: none;
          transition: none; } }
    .form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
      background-color: #dde0e3; }
  
 




#top2{

  background-image: url(IMG/clothes-1839935_1920grey.jpg);
  background-color: gray;
  background-repeat: no-repeat;
  
  
}

#sideform{
  font-weight: 600;
}



#contactbutton{
  background-color: rgba(245,119,70,255); /* color de fondo */
  color:#fff; /* color de fuente */
  /* border: 2px solid ;  */
  padding: 16px 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  border-color: rgba(245,119,70,255);
  border-radius: 30px;
}


#contactbutton:hover{

border-color: #fff;
border-collapse: initial;
}


/* color de antes-------------------------

rgba(245,119,70,255) */


#divn7{
  text-align: center;
  
}

#msgenviado{
  font-weight: bold;
  display: none;
}




  @media screen and (min-width: 1960px) {
    #top2  {
  background-image: url(IMG/clothes-1839935_1920grey.jpg);
  background-color: gray;
  background-repeat: no-repeat;
  background-position: center;
    }
  }



  @media screen and (max-width: 1167px) {
    #divn6{
     margin-top: 15px;

    }
  }



  @media screen and (max-width: 991px) {
    #divn6{
     margin-top: 80px;

    }
  
  
  }


  /* ----------testimonial_area--------------------- */

 
  #testimonial_area {
    padding: 5% 0;
  }
  .box-area {
    padding: 30px;
    position: relative;
    display: block;
    background: #fff;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 40px 0;
  }
  .box-area h5 {
    font-size: 16px;
    font-weight: 700;
    color: rgba(245,119,70,255);
    margin-top: 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .box-area span {
    color: #262626;
    display: block;
    font-size: 13px;
    margin: 0 0 10px;
    font-weight: 400;
  }
  .box-area .content {
    color: #262626;
  }
  .box-area .img-area {
    width: 90px;
    height: 90px;
    position: absolute;
    top: -40px;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    right: 0;
    z-index: 1;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
  }
  .box-area .img-area img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  .socials {
    margin-top: 30px;
  }
  .socials i {
    margin: 0 10px;
    color: rgba(245,119,70,255);
    font-size: 18px;
  }
  #testimonial_area .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
  }
  #testimonial_area .owl-prev, #testimonial_area .owl-next {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: rgba(245,119,70,255);
    border-radius: 50%;
    text-align: center;
    background: #fff;
    position: absolute;
  }
  #testimonial_area .owl-prev {
    left: -60px;
    top: -30px;
  }
  #testimonial_area .owl-next {
    right: -60px;
    top: -30px;
  }
  @media only screen and (max-width: 991px) {
    .owl-nav {
      display: none;
    }
  }
  @media only screen and (max-width: 767px) {
    .box-area {
      text-align: center;
    }
    .owl-nav {
      display: none;
    }
  }
  


/* ----------------estilos items------------------------------------------------ */



.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
  align-content: center;
}
.section-title{
  text-align: center;
  color: #ddd;
  text-transform: uppercase;
  font-size: 30px;
}
.border{
  width: 160px;
  height: 2px;
  background: #82ccdd;
  margin: 40px auto;
}
.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box{
  /* max-width: 33.33%; */
  padding: 10px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
}

.service-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid rgba(245,119,70,255);
  color: rgba(245,119,70,255);
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
  border-radius: 40px;
}
.service-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.service-box:hover .service-icon{
  background: rgba(245,119,70,255);
  color:#fff;
}
.service-title{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-desc{
  font-size: 14px;
}

@media screen and (max-width:960px) {
  .service-box{
    max-width: 45%;
  }
}

@media screen and (max-width:768px) {
  .service-box{
    max-width: 50%;
  }
}

@media screen and (max-width:480px) {
  .service-box{
    max-width: 100%;
  }
}


#inner{
  justify-content: space-between !important;
  align-content: space-between;
  align-items: center;

}