*{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
}
header.abajo{
    background: #fff;
    padding: 15px 20px;
}
header .logo{
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
} */

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}




/* --------- imagen principal responsive-------------------------------- */

#image1{
    position: relative;
    width: 66.66%;
    background-size: cover;
    background-position:center;
}

.h-100 {
  height: 100%!important;
}



/* hacer el fondo gris 1er land */


#top{
  background-color: rgb(215, 215, 215, .1);
}




.estilo-x {
  font-size: calc(1em + 1vw);
  line-height: 1em;
  padding: 1em;
  margin: 1em;}



header.abajo .logo,
header.abajo ul li a{
    color: #000;
}

#logo{

    padding-right: 20px;
    position: sticky;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
    padding-top: 4px;
    

}


/* #hamburger {
    border: none;
    background-color: none !important;
    text-decoration: none;
    color: grey !important;
} */

#karina{
    border: none;
    background-color: none !important;
    text-decoration: none;
    color: black;;
    
}

/* .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
  }  */

/* .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
    color: transparent;
    background-color: transparent;;
  }  */


  

    /* #logo{

        font-size: 20px;
    
    } */

    #hamburger{ 
        /* display: block; */
        /* margin-left: -30% !important;
        width: 200% !important; */
        /* position: relative; */
        background-color: rgba(255, 255, 255, .5);
        padding: 0;

    }





/* estilos div3 */


#imglogo{

  color: rgba(252,189,145,255);
}

#image2{

  padding-right: 5rem;
}


.accordion-button:not(.collapsed){
  background-color: rgba(252,189,145,255);
  color: white;
  font-weight: bold;
}


.accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0 rgba(252,189,145,255);
  box-shadow: 0 0 0 0 rgba(252,189,145,255); 
}

#questiontittle{

  font-size: 3rem;
}

/* 
#button1{
  background-color: rgba(252,189,145,255);
  color: #fff;
  border: none;
} */

#button2 {
  background: rgba(252,189,145,255); /* color de fondo */
  color:#fff; /* color de fuente */
  border: 2px solid ; 
  padding: 16px 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  border-color: #fff;
  border-radius: 30px;
}
#button2:hover {
  color:rgba(252,189,145,255); /* color de fuente hover */
}
#button2::after {
  content: "";
  background: #fff ; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
#button2:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}


/* ---------------------- estilos del main -------------- */
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  --bs-gutter-x: 3vw;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto; }





    .py-vh-6 {
        padding-top: 16vh;
        padding-bottom: 16vh;
    }

    

    .lead {
      font-size: calc(1.258rem + 0.096vw);
      font-weight: 300; }
      @media (min-width: 1200px) {
        .lead {
          font-size: 1.33rem; } }

    .display-1 {
      font-size: calc(1.625rem + 4.5vw);
      font-weight: 300;
      line-height: 1.2; }
      @media (min-width: 1200px) {
        .display-1 {
          font-size: 5rem; } }

    


          


@media (max-width: 994px) { 

  .header .navbar{
              background-color: transparent !important;
              display: inline;
              text-align: center;
              justify-content: center;
              align-items: center;
              
  }
        
}

@media (max-width: 991px)
{ #image1 {
  position: relative;
  width: 102%;
  height: 40vh;
  background-size: cover;
  background-position:center;
}

#divn1 {
  color: white;
}

.py-vh-6 {
  padding-top: 5vh;
  padding-bottom: 0vh;
}

#header{

  padding-left: 0px !important;
}

#logo{
  
  font-size: 24px;
  padding-left: 3px !important;
  width: 120% !important;
  margin-right: -30% !important;
  padding-left: 30px;
  margin-left: 00px;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, .5);
  
  

}

#imglogo {

  width: 26px;
  height: 26px;
  margin-left: 15px;
  
  
}


#karina{
  align-items: center;
  justify-content: center;
  justify-items: center;
  

}
  
}

@media (max-width: 763px) { 
#image2{

  padding-right: 0rem;
}
}
@media (max-width: 633px) { 


  


  #hamburger{ 
      position: static;
      
      /* margin-left: -30% !important;
      width: 200% !important; */
      
      

  }


}



/* --------estilos footer-------- */


#footer_separator{

  background-color: rgba(252,189,145,255);
}

#button1 {
  background: #fff; /* color de fondo */
  color: black; /* color de fuente */
  /*border: 2px solid ;  tamaño y color de borde */
  padding: 16px 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  border: none;
}
#button1:hover {
  color: #fff; /* color de fuente hover */
}
#button1::after {
  content: "";
  background: rgba(252,189,145,255); /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
#button1:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}





/* @media (max-width: 767px)
{ #image1 {
    position: relative;
    width: 102%;
    background-position:  50% -30%;
    
}


} */



  
@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px; } }

/* @media (min-width: 1680px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: 1600px; } } */



/* ----------------------- accordion------------------ */

    /* .accordion-button {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      padding: 1rem 1.25rem;
      font-size: 1rem;
      color: #212529;
      text-align: left;
      background-color: #fff;
      border: 0;
      border-radius: 0;
      overflow-anchor: none;
      -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, border-radius 0.15s ease, -webkit-box-shadow 0.15s ease-in-out;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, border-radius 0.15s ease, -webkit-box-shadow 0.15s ease-in-out;
      -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease, -webkit-box-shadow 0.15s ease-in-out; }
      @media (prefers-reduced-motion: reduce) {
        .accordion-button {
          -webkit-transition: none;
          -o-transition: none;
          transition: none; } }
      .accordion-button:not(.collapsed) {
        color: #d96d3e;
        background-color: #fef2ec;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125); }
        .accordion-button:not(.collapsed)::after {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23d96d3e'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
          -webkit-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
          transform: rotate(-180deg); }
      .accordion-button::after {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: auto;
        content: "";
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: 1.25rem;
        -webkit-transition: -webkit-transform 0.2s ease-in-out;
        transition: -webkit-transform 0.2s ease-in-out;
        -o-transition: transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; }
        @media (prefers-reduced-motion: reduce) {
          .accordion-button::after {
            -webkit-transition: none;
            -o-transition: none;
            transition: none; } }
      .accordion-button:hover {
        z-index: 2; }
      .accordion-button:focus {
        z-index: 3;
        border-color: #f8bca2;
        outline: 0;
        -webkit-box-shadow: 0 0 0 0.25rem rgba(241, 121, 69, 0.25);
        box-shadow: 0 0 0 0.25rem rgba(241, 121, 69, 0.25); }
    
    .accordion-header {
      margin-bottom: 0; }
    
    .accordion-item {
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.125); }
      .accordion-item:first-of-type {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem; }
        .accordion-item:first-of-type .accordion-button {
          border-top-left-radius: calc(0.25rem - 1px);
          border-top-right-radius: calc(0.25rem - 1px); }
      .accordion-item:not(:first-of-type) {
        border-top: 0; }
      .accordion-item:last-of-type {
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem; }
        .accordion-item:last-of-type .accordion-button.collapsed {
          border-bottom-right-radius: calc(0.25rem - 1px);
          border-bottom-left-radius: calc(0.25rem - 1px); }
        .accordion-item:last-of-type .accordion-collapse {
          border-bottom-right-radius: 0.25rem;
          border-bottom-left-radius: 0.25rem; }
    
    .accordion-body {
      padding: 1rem 1.25rem; }
    
    .accordion-flush .accordion-collapse {
      border-width: 0; }
    
    .accordion-flush .accordion-item {
      border-right: 0;
      border-left: 0;
      border-radius: 0; }
      .accordion-flush .accordion-item:first-child {
        border-top: 0; }
      .accordion-flush .accordion-item:last-child {
        border-bottom: 0; }
      .accordion-flush .accordion-item .accordion-button {
        border-radius: 0; }





.custom-accordion .accordion-item {
          margin-bottom: 0px;
          position: relative;
          border-radius: 0px;
          overflow: hidden; }
          .custom-accordion .accordion-item .btn-link {
            display: block;
            width: 100%;
            padding: 15px 0;
            text-decoration: none;
            text-align: left;
            color: #000;
            background: transparent;
            border: none;
            padding-left: 40px;
            border-radius: 0;
            position: relative;
            -webkit-box-shadow: none !important;
            box-shadow: none !important; }
            .custom-accordion .accordion-item .btn-link:before {
              font-family: 'icomoon';
              content: "\f067";
              position: absolute;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
              left: 15px; }
            .custom-accordion .accordion-item .btn-link[aria-expanded="true"] {
              font-weight: 700;
              color: #fff !important;
              background: #f17945; }
              .custom-accordion .accordion-item .btn-link[aria-expanded="true"]:before {
                font-family: 'icomoon';
                content: "\f068";
                position: absolute;
                color: #fff;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                left: 15px; }
          .custom-accordion .accordion-item.active {
            z-index: 2; }
            .custom-accordion .accordion-item.active .btn-link {
              color: #000;
              -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
              box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1); }
          .custom-accordion .accordion-item .accordion-body {
            padding: 20px 20px 20px 20px; }
         */